<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div class="title_home">
        <h1>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum, vitae. </h1>
    </div>
    <div>

        <p class="creation_date">
            Creada: <!-- INSERTAR LOGICA -->
        </p>
        <p class="modify_date">
            Ultima modificación : <!--  INSERTAR LOGICA -->
        </p>

    </div>
    <div class="category_id">
        Categoria:   <!--  INSERTAR LOGICA -->
    </div>

    <div>
        <p>Lorem ipsum dolor sit amet.</p>
        <p>Officiis repudiandae laborum unde molestiae?</p>
        <p>Libero doloribus odit fugit asperiores?</p>
        <p>Expedita deserunt aliquid ipsam quidem?</p>
        <p>Rem reprehenderit consequatur impedit facilis.</p>
    </div>

    <div class="button">
        <button class="button_cancel"> CANCELAR </button>
        <button class="button_save"> GUARDAR </button>
    </div>
</body>
</html>